/node_modules
/vendor
.env
.env.*

public/css
public/js
public/assets
public/images
public/vendor*
public/mix-manifest.json

storage/content/*
!storage/content/.gitkeep

composer.lock
public/service-worker.js
storage/content
storage/likes.json
